.table-title {
    margin-top: 94px;
    margin-bottom: 30px;
    color: #fff;
    font-size: 32px;
    font-weight: 500;
}

.table-container {
    display: flex;
    flex-direction: column;
    margin-right: 120px;
    margin-left: 120px;
}

.striped-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 1em;
}

th, td {
    text-align: center; /* Center align both th and td */
    padding: 15px; /* Add padding for better spacing */
}

th {
    color: white;
}

tr td {
    background-color: #1c1c1c;
    color: white; /* Text color for td elements */
}

tr td:first-of-type {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

tr td:last-of-type {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

tr:not(:first-child) {
    border: 2px solid rgb(221, 220, 220);
    border-radius: 10px; /* Add border radius for rounded corners */
}

.time {
    color: white;
}

.nom {
    color: #E7FE58;
}