<!-- <div class="text-center table-title">
    <h2>Calendrier de la semaine</h2>
</div>
<div class="table-container">
    <table class="striped-table">
        <thead>
            <tr>
                <th scope="col">Monday</th>
                <th scope="col">Tuesday</th>
                <th scope="col">Wednesday</th>
                <th scope="col">Thursday</th>
                <th scope="col">Friday</th>
                <th scope="col">Saturday</th>
                <th scope="col">Sunday</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let day of weekDays">
                <td *ngFor="let activity of day.activities" class="text-center">
                    <strong class="nom">{{ activity.activiteCour }}</strong><br>
                    <p class="time">{{ activity.activiteTemps }}</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>
 -->




 <div class="text-center table-title">
    <h2>Calendrier du semaine</h2>
</div>
<div class="table-container">
<table class="striped-table">
    <thead>
      <tr>
        <th scope="col">Monday</th>
        <th scope="col">Tuesday</th>
        <th scope="col">Wednesday</th>
        <th scope="col">Thurday</th>
        <th scope="col">Friday</th>
        <th scope="col">Saturday</th>
        <th scope="col">Sunday</th>
      </tr>
    </thead>
    <tbody>
        <tr class="rounded">
            <td></td>
            <td class="text-center">
                <strong class="nom">Yoga training</strong><br>
                <p class="time">7 am-6 am</p>
            </td>
            <td></td>
            <td class="text-center">
                <strong class="nom">Yoga training</strong><br>
                <p class="time">7 am-6 am</p>
            </td>
            <td></td>
            <td class="text-center">
                <strong class="nom">Yoga training</strong><br>
                <p class="time">7 am-6 am</p>
            </td>
            <td></td>
        </tr>
        <tr>
            <td class="text-center">
                <strong class="nom">Yoga training</strong><br>
                <p class="time">7 am-6 am</p>
            </td>
            <td></td>
            <td class="text-center">
                <strong class="nom">Yoga training</strong><br>
                <p class="time">7 am-6 am</p>
            </td>
            <td></td>
            <td class="text-center">
                <strong class="nom">Yoga training</strong><br>
                <p class="time">7 am-6 am</p>
            </td>
            <td></td>
            <td class="text-center">
                <strong class="nom">Yoga training</strong><br>
                <p class="time">7 am-6 am</p>
            </td>
        </tr>
        <tr>
            <td></td>
            <td class="text-center">
                <strong class="nom">Yoga training</strong><br>
                <p class="time">7 am-6 am</p>
            </td>
            <td></td>
            <td class="text-center">
                <strong class="nom">Yoga training</strong><br>
                <p class="time">7 am-6 am</p>
            </td>
            <td></td>
            <td class="text-center">
                <strong class="nom">Yoga training</strong><br>
                <p class="time">7 am-6 am</p>
            </td>
            <td></td>
        </tr>
    </tbody> 
    </table>
</div>