/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: black;
    margin: 54px 64px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
}

