<!-- Button trigger modal -->
<app-button text="Ajouter" color="#E7FE58" textColor="#000" data-bs-toggle="modal" data-bs-target="#exampleModal"></app-button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <button type="button" id="cancel" class="btn-close btn-close-white btn-custom" data-bs-dismiss="modal" aria-label="Close"></button>
      <h1 class="modal-title" id="exampleModalLabel">Add Abonnement</h1>
      <div class="modal-body">
        <form [formGroup]="formValue" (ngSubmit)="addAbonnement()">
            <div class="form-group">
              <label for="abonnementProp">Abonnement Prop</label>
              <div class="input-group">
                <span class="input-group-text">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                    <!-- SVG path here -->
                  </svg>
                </span>
                <input type="number" id="abonnementProp" formControlName="abonnementProp" class="form-control" placeholder="Nom" required>
              </div>
            </div>
            <div class="form-group">
              <label for="abonnementType">Abonnement Type</label>
              <div class="input-group">
                <span class="input-group-text">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-body-text" viewBox="0 0 16 16">
                    <!-- SVG path here -->
                  </svg>
                </span>
                <select id="abonnementType" formControlName="abonnementType" class="form-control">
                  <option *ngFor="let option of getOffreOptions" [value]="option.value">{{option.label}}</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="debutDate">Debut Date</label>
              <div class="input-group">
                <span class="input-group-text">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                    <!-- SVG path here -->
                  </svg>
                </span>
                <input type="date" id="debutDate" formControlName="debutDate" class="form-control" required>
              </div>
            </div>
            <div class="form-group">
              <label for="finDate">Fin Date</label>
              <div class="input-group">
                <span class="input-group-text">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
                    <!-- SVG path here -->
                  </svg>
                </span>
                <input type="date" id="finDate" formControlName="finDate" class="form-control" required>
              </div>
            </div>
          
            <div class="d-grid">
              <button type="submit" class="btn modal-button">Update</button>
            </div>
          </form>
      </div>
    </div>
  </div>
</div>