<div class="container">
    <div class="row">
        <div class="col-md-5 box-hero justify-content-center">
            <h2 class="hero-title">Where <span class="span-green">Passion</span><br>Builds <span class="span-green">Strength</span></h2>
            <p class="hero-text">Flex Gym isn't just about reps and sets; it's where we<br> ignite your passion for fitness and sculpt your <br>inner strength.</p>
            <div class="button-hero">
                <app-button [routerLink]="['/offre']" routerLinkActive="active" text="Check Offres"  color="#E7FE58" textColor="#000"></app-button>
            </div>
        </div>
        <div class="col-md-7">
            <img src="../../../../../assets/anastase-maragos-9dzWZQWZMdE-unsplash.jpg" alt="hero-image" class="img-fluid" >
        </div>
    </div>

</div>