    <header class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-auto">
                <a href="#" class="logo">Flex <span class="green-span">Gym</span></a>
            </div>
            <div class="col-md">
                <nav class="text-center">
                    <ul class="nav-links">
                        <li><a href="#">Courses</a></li>
                        <li><a href="#">Courses</a></li>
                        <li><a href="#">Courses</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-auto">
                <a class="sign-in" href="#">
                    <!-- <app-button text="Name" color="#E7FE58" [icon]="'#person-fill'"></app-button> -->
                    <app-button text="Sign Out" color="#FFFFFF"></app-button>
                    <app-button text="User" color="#E7FE58"></app-button>
                </a>
            </div>
        </div>
    </header>
   