.footer-container {
  background-color: #0f1114;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  margin: 0;
  padding: 0;
}

.footer-content {
  text-align: center;
}

.footer-text {
  color: white;
  margin: 0;
}