<body class="login-background">
<header class="container-fluid">
    <div class="row align-items-center">
        <div class="col">
            <a href="#" class="logo">Flex <span class="green-span">Gym</span></a>
        </div>
        <div class="col-md-auto ">
            <a class="sign-in" href="#">
                <a routerLink="/"><app-button text="Home" color="#E7FE58" textColor="#000"></app-button></a>
            </a>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center title">
                    <h1>Login</h1>
                    <h6>Please enter email and password !!</h6>
                </div>
                <form >
                    <div class="input-class">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                      </div>
                      <div class="input-class">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                      </div>
                      <div class="d-grid">
                        <button type="submit" class="btn btn-custom">Submit</button>
                      </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
