
.card{
    border:none;
    width: 500px;
    padding:40px;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color: #0F1114;
    border: 3px solid #212529;
}
label, h6{
    color:white;
}
h1{
    color: #E7FE58;
}
#emailHelp{
    color:#d4d5d7;
}
.title{
    margin-bottom: 15px;
}
.btn-custom {
    color: #000;
    background-color: #E7FE58;
    margin-top: 10px;
}
.input-class{
    margin-bottom:10px;
}

.login-background {
    background-image: url('../../../assets/bw.jpg');
    background-size:contain;
    
}

.logo, .logo:visited {
    font-size: 24px;
    font-weight: 600;
    color: white !important;
    text-decoration: none !important;
    cursor: pointer;  
}

.green-span {
    color: #E7FE58;
}

.button-custom{
    float:right;
}
