<header class="container-fluid header-css">
    <div class="row align-items-center header-content">
        <div class="col-md-auto">
            <a href="/" class="logo">Flex <span class="green-span">Gym</span></a>
        </div>
        <div class="col-md">
            <nav class="text-center">
                <ul class="nav-links">
                    <li><a [routerLink]="['/offre']" routerLinkActive="active">Offres</a></li>
                    <li><a [routerLink]="['/cours']" routerLinkActive="active">Courses</a></li>
                    <li><a [routerLink]="['/calendar-client']" routerLinkActive="active">Calendar</a></li>
                </ul>
            </nav>
        </div>
        <div class="col-md-auto buttons">
            <div class="col-md-auto buttons">
                <a class="sign-in" routerLink="/reclam"><app-button text="Reclam"  color="#0F1114" textColor="#FFF"></app-button></a>
                <a *ngIf="getUserData()" class="sign-in" routerLink="/"><app-button text="Sign Out" (click)="logout()" color="#FFFFFF" textColor="#000"></app-button></a>
                <a *ngIf="!getUserData()" class="sign-in" routerLink="/login"><app-button text="Log In" color="#E7FE58" textColor="#000"></app-button></a>
                <a *ngIf="getUserData()?.userType === '0rxQHAxT'" class="sign-in" routerLink="/profile">
                  <app-button text="Profile" color="#E7FE58" textColor="#000">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                      <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                      <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                    </svg>
                    Profile
                  </app-button>
                </a>
                <a *ngIf="getUserData()?.userType === 'X12nDlxf' || getUserData()?.userType === 'Mv1NpnIV'" class="sign-in" routerLink="/offreAdmin">
                  <app-button text="Management" color="#E7FE58" textColor="#000">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                      <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                      <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                    </svg>
                    Management
                  </app-button>
                  </a>
            </div>
        </div>
    </div>
</header>