<header class="container-fluid header-css">
    <div class="row align-items-center header-content">
        <div class="col-md-auto">
            <a href="#" class="logo">Flex <span class="green-span">Gym</span></a>
        </div>
        <div class="col-md">
            <nav class="text-center">
                <ul class="nav-links">
                    <li><a href="#">Courses</a></li>
                    <li><a href="#">Courses</a></li>
                    <li><a href="#">Courses</a></li>
                </ul>
            </nav>
        </div>
        <div class="col-md-auto buttons">
            <a class="sign-in" href="#">
                <!-- <app-button text="Name" color="#E7FE58" [icon]="'#person-fill'"></app-button> -->
                <app-button text="Reclam" class="" color="#0F1114" textColor="#FFF"></app-button>
                <a routerLink="/login"><app-button text="Log In" color="#E7FE58" textColor="#000"></app-button></a>
            </a>
        </div>
    </div>
</header>
