<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="col-md-12">
                <div class="card user-card-full">
                    <div class="row m-l-0 m-r-0">
                        <div class="col-sm-3">
                            <div class="card-block text-center text-white ">
                                <div class="m-b-25">
                                    <img src="../../../../assets/anastase-maragos-7kEpUPB8vNk-unsplash.jpg" class="img-radius" width="300" height="300" >
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <div class="card-block">
                                <h5 class="card-title ">Information</h5>
                                <div class="card-info">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">Nom</p>
                                            <h6 class="f-w-400">Oussema</h6>
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">Prenom</p>
                                            <h6 class=" f-w-400">Zarrouki</h6>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">Date de naissance</p>
                                            <h6 class="f-w-400">22/12/2003</h6>
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">Phone</p>
                                            <h6 class="f-w-400">98979983</h6>
                                        </div>
                                    </div>
                                </div>
                                <h5 class="card-title">Security</h5>
                                <div class="card-info">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">Email</p>
                                            <h6 class="text-muted f-w-400">mail&#64;gmail.com</h6>
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">Password</p>
                                            <h6 class="text-muted f-w-400">*******</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>