<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="col-md-12">
                <div class="card user-card-full">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card-block">
                                <h5 class="card-title ">Information</h5>
                                <div class="card-info">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">Nom</p>
                                            <h6 class="f-w-400 text-muted">{{clientData.clientNom}}</h6>
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">Prenom</p>
                                            <h6 class=" f-w-400 text-muted">{{clientData.clientPrenom}}</h6>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">Date de naissance</p>
                                            <h6 class="f-w-400 text-muted">{{clientData.clientDatenais}}</h6>
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">Phone</p>
                                            <h6 class="f-w-400 text-muted">{{clientData.clientTel}}</h6>
                                        </div>
                                    </div>
                                </div>
                                <h5 class="card-title">Security</h5>
                                <div class="card-info">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">Email</p>
                                            <h6 class="text-muted f-w-400">{{clientData.clientEmail}}</h6>
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">Password</p>
                                            <h6 class="text-muted f-w-400">{{PasswordStars(clientData.clientPass)}}</h6>
                                        </div>
                                    </div>
                                </div>
                                <h5 class="card-title">Subscription</h5>
                                <div *ngFor="let row of abonnements">
                                    <div class="card-info">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <p class="m-b-10 f-w-600">Name</p>
                                                <h6 class="text-muted f-w-400">{{row.abonnementType}}</h6>
                                              </div>
                                            <div class="col-sm-6">
                                                <p class="m-b-10 f-w-600">Status</p>
                                                <h6 class="f-w-400" *ngIf="row.abonnementEtat !== null" [ngClass]="{'active-green': row.abonnementEtat === 1, 'inactive-red': row.abonnementEtat === 0 }">
                                                    {{ row.abonnementEtat === 1 ? 'Active' : 'Expired' }}
                                                </h6>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <p class="m-b-10 f-w-600">Date debut </p>
                                                <h6 class="text-muted f-w-400">{{row.debutDate}}</h6>
                                            </div>
                                            <div class="col-sm-6">
                                                <p class="m-b-10 f-w-600">Date d'expiration</p>
                                                <h6 class="text-muted f-w-400">{{row.finDate}}</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>