<div class="container-fluid container-table">
        <div class="text-center table-title">
            <h1>Liste des offres</h1>
        </div>
    <div class="table-container">
        <table class="striped-table">
            <thead>
              <tr>
                <th>offreID</th>
                <th>offreNom</th>
                <th>Detailoffre</th>
                <th>Prixoffre</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Judo</td>
                <td>Sport Combat</td>
                <td>50</td>
                <td>
                    <app-button text="Modifier" color="#E7FE58"></app-button>
                    <app-button text="Supprimer" color="#E7FE58"></app-button>
                </td>
              </tr>
              <tr>
                <td>1</td>
                <td>Judo</td>
                <td>Sport Combat</td>
                <td>50</td>
                <td>
                    <app-button text="Modifier" color="#E7FE58"></app-button>
                    <app-button text="Supprimer" color="#E7FE58"></app-button>
                </td>
              </tr>
              <tr>
                <td>1</td>
                <td>Judo</td>
                <td>Sport Combat</td>
                <td>50</td>
                <td>
                    <app-button text="Modifier" color="#E7FE58"></app-button>
                    <app-button text="Supprimer" color="#E7FE58"></app-button>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="button-container">
            <app-add-offre></app-add-offre>
          </div>
    </div>
</div>
