    <div class="text-center table-title">
            <h1>Liste des offres</h1>
    </div>
    <div class="table-container">
        <table class="striped-table">
            <thead>
              <tr>
                <th scope="col">offreID</th>
                <th scope="col">offreNom</th>
                <th scope="col">Detailoffre</th>
                <th scope="col">Prixoffre</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of offreData">
                <td>{{row.id}}</td>
                <td>{{row.offreNom}}</td>
                <td>{{row.offreDetail}}</td>
                <td>{{row.offrePrix}}</td>
                <td>
                  <app-button text="Modifier" color="#000" textColor="#E7FE58"></app-button>
                  <app-button text="Annuler" color="#000" textColor="#DC3545"></app-button>
                </td>
              </tr>
            </tbody> 
            </table>
            <div class="button-container">
              <app-add-offre></app-add-offre>
            </div>
      </div>
  
              <!-- <tr *ngFor="let offre of offres; let i = index">
                <td>{{ offre.offreId }}</td>
                <td *ngIf="editingIndex !== i">{{ offre.offreNom }}</td>
                <td *ngIf="editingIndex === i"><input type="text" [(ngModel)]="offre.offreNom"></td>
                <td *ngIf="editingIndex !== i">{{ offre.offreDetail }}</td>
                <td *ngIf="editingIndex === i"><input type="text" [(ngModel)]="offre.offreDetail"></td>
                <td *ngIf="editingIndex !== i">{{ offre.offrePrix }}</td>
                <td *ngIf="editingIndex === i"><input type="number" [(ngModel)]="offre.offrePrix"></td>
                <td>
                  <app-button *ngIf="editingIndex !== i" (click)="modifierOffre(i)" text="Modifier" color="#000" textColor="#E7FE58"></app-button>
                  <div *ngIf="editingIndex === i">
                    <app-button (click)="enregistrerModification(offre)" text="Enregistrer" color="#000" textColor="#E7FE58"></app-button>
                    <app-button (click)="annulerModification(i)" text="Annuler" color="#000" textColor="#DC3545"></app-button>
                  </div>
                </td>
              </tr>
            </tbody> -->
          <!-- </table>
          <div class="button-container">
            <app-add-offre></app-add-offre>
          </div>
    </div> -->

<!-- <div class="container-fluid container-table">
  <div class="text-center table-title">
      <h1>Liste des offres</h1>
  </div>
<div class="table-container">
<table class="striped-table">
  <thead>
    <tr>
      <th>offreID</th>
      <th>offreNom</th>
      <th>Detailoffre</th>
      <th>Prixoffre</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let offre of offres">
      <td>{{ offre.offreID }}</td>
      <td *ngIf="!offre.editable">{{ offre.offreNom }}</td>
      <td *ngIf="!offre.editable">{{ offre.detailOffre }}</td>
      <td *ngIf="!offre.editable">{{ offre.prixOffre }}</td>
      <td *ngIf="!offre.editable">
        <app-button (click)="modifierOffre(offre)" text="Modifier" color="#000" textColor="#E7FE58"></app-button>
        <app-button (click)="modifierOffre(offre)" text="Supprimer" color="#000" textColor="#DC3545"></app-button>
      </td>
      <td *ngIf="offre.editable">
        <input type="text" formControlName="offreNom">
      </td>
      <td *ngIf="offre.editable">
        <input type="text" formControlName="detailOffre">
      </td>
      <td *ngIf="offre.editable">
        <input type="number" formControlName="prixOffre">
      </td>
      <td *ngIf="offre.editable">
        <app-button (click)="validerModification(offre)" text="Enregistrer" color="#000" textColor="#E7FE58"></app-button>
        <app-button (click)="offre.editable = false" text="Annuler" color="#000" textColor="#DC3545"></app-button>
      </td>
    </tr>
  </tbody>
</table>
    <div class="button-container">
      <app-add-offre></app-add-offre>
    </div>
</div>
</div> -->
