<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="../../../../../assets/anastase-maragos-HyvE5SiKMUs-unsplash.jpg" alt="hero-image" class="img-fluid img-css" >
        </div>
        <div class="col-md-5 box-hero justify-content-center">
            <h2 class="hero-title">Join our<br><span class="span-green">Community</span></h2>
            <p class="hero-text">Flex Gym isn't just about reps and sets; it's where we ignite your passion for fitness and sculpt your inner strength.</p>
            <div class="button-hero">
                <app-button text="Check Calendar"  [routerLink]="['/calendar-client']" routerLinkActive="active"color="#E7FE58" textColor="#000"></app-button>
            </div>
        </div>
    </div>

</div>