<div class="container">
    <div class="row">

    </div>
    <div class="row text-box">
        <div class="col-md text-content">
            <h2 class="feature-title">WHY CHOOSE US?</h2>
            <h6 class="feature-text">Discover why our gym stands out among the rest with our dedicated coaches, premium equipment,<br> convenient subscription management, and personalized training programs.</h6>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
          <div class="card">
              <img class="card-img-top" src="../../../../../assets/anastase-maragos-7kEpUPB8vNk-unsplash.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Expert Coaching Team</h5>
                <p class="card-text">Our experienced and certified coaches are dedicated to guiding and motivating you towards your fitness goals, providing personalized attention and support every step of the way.</p>
              </div>
            </div>
        </div>
        <div class="col-md">
          <div class="card">
              <img class="card-img-top" src="../../../../../assets/gym.jpg" alt="Card image cap" class="img-fluid">
              <div class="card-body">
                <h5 class="card-title">Cutting-Edge Equipment</h5>
                <p class="card-text">Train with confidence using our state-of-the-art equipment, meticulously selected to cater to all fitness levels and workout preferences.</p>
              </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card">
                <img class="card-img-top" src="../../../../../assets/desktop.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Secure Subscription Management</h5>
                  <p class="card-text">Access and manage your profile details and subscriptions securely through our website. Easily track subscription details, including renewal dates and end dates.</p>
                </div>
              </div>
        </div>
    </div>
</div>