<div class="container">
    <div class="row">

    </div>
    <div class="row text-box">
        <div class="col-md text-content">
            <h2 class="feature-title">WHY CHOOSE US?</h2>
            <h6 class="feature-text">Explore our features , these are our key points we constantly work on.</h6>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <div class="card">
                <img class="card-img-top" src="../../../../../assets/anastase-maragos-7kEpUPB8vNk-unsplash.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
              </div>
        </div>
        <div class="col-md">
            <div class="card">
                <img class="card-img-top" src="../../../../../assets/gym.jpg" alt="Card image cap" class="img-fluid">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
              </div>
        </div>
        <div class="col-md">
            <div class="card">
                <img class="card-img-top" src="../../../../../assets/anastase-maragos-HyvE5SiKMUs-unsplash.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
              </div>
        </div>
    </div>
</div>